<table width="100%" border="0" cellpadding="0" cellspacing="0" align="center">
      <tbody><tr>
        <td align="center" valign="top">
        </td>
      </tr>
      <tr>
        <td align="center">
          <table cellspacing="0" cellpadding="0" border="0" width="600" align="center">
            <tbody><tr>
              <td>
                <table style="background-color:#ffffff;border:0px solid transparent;font-size:16px;font-family:Arial,helvetica,sans-serif;line-height:100%;color:#000000" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" width="100%">
                  <tbody><tr>
                    <td align="center" valign="top">
                      <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                        <tbody><tr>
                          
                          <td style="padding:0px 0px 0px 0px">
                            
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                              <tbody><tr> 
                                <td align="center" valign="top">
                                  <table align="left" border="0" cellpadding="0" cellspacing="0" width="100%">
                                    <tbody>
                                        <tr>
                                          <td align="left" valign="top">
                                            <table cellspacing="0" cellpadding="0" style="width:100%">
                                              <tbody>
                                              <tr>
                                                <td valign="top" style="width:100%"><span class="im">
                                                  <table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:#f9f9f9;min-width:100%"><tbody><tr><td style="padding:0px"><table width="100%" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr><td align="center" style="background:black"><img src="https://ci5.googleusercontent.com/proxy/taaqw7ZKeWSJRUT9VewTemjA75Tnhs0sy6y2yn-LycWMrm5oOlHWuM20Q2Xb-TAB4H_juSPFlAEb7zV-c3Ru5h1EO4GbgT5xQYFMvBLBxi3H9myEtzgmQJksigDgsdKIWHfAgNasw7JrJEMKZZwsS7qLXQj1Tp1z4xMJ3FOpoM9hMUvqcFzsgg4-gKlRu5a0Berbc5PrlvTbCuco=s0-d-e1-ft#https://images.squarespace-cdn.com/content/v1/6257216be42a585534734731/97c0a88f-69c9-4948-88d1-101f7f999df2/bt_logo_long.png?format=250w" alt="" height="66" width="310" style="display:block;padding:10px;text-align:center;height:66px;width:310px;border:0px" class="CToWUd" data-bit="iit">
                                                  </td></tr></tbody></table></td></tr></tbody></table>
<table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:#ffffff;min-width:100%;border-top:34px solid #ffffff;border-right:52px solid #ffffff;border-bottom:8px solid #ffffff;border-left:34px solid #ffffff"><tbody><tr><td style="padding:0px"><div style="line-height:44px;text-align:center">
	<span style="color:#000000"><span style="font-size:40px"><span style="font-family:&quot;Circular Spotify Text&quot;,Helvetica,Arial,sans-serif">
<span style="text-align:justify"><b>


</b></span></span></span></span></div></td></tr></tbody></table><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:#ffffff;min-width:100%;border-top:8px solid #ffffff;border-right:34px solid #ffffff;border-bottom:0px;border-left:34px solid #ffffff"><tbody><tr><td style="padding:0px"><div style="line-height:150%;text-align:center">
	<span style="font-size:16px">

Thanks for registering for a Block Tackle account! <br>
Click below to verify your email address.


  </span><br>
	<span style="color:#000000">&nbsp;</span></div></td></tr></tbody></table></span><table cellpadding="0" cellspacing="0" width="100%" role="presentation" style="background-color:#ffffff;border:1px solid transparent;min-width:100%"><tbody><tr><td style="padding:8px 0px 27px"><table width="100%" border="0" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr><td align="center"><table border="0" cellspacing="0" cellpadding="0" role="presentation"><tbody><tr>
  <td bgcolor="transparent" style="border-radius:24px;background-color:transparent;">
	  <a href="https://centralized-hub.vercel.app/verify-account?verificationCode={{verificationCode}}&email={{email}}" target="_blank" style="font-size:14px;font-family:Arial,helvetica,sans-serif;color:#000000!important;text-align:center;text-decoration:none;display:block;letter-spacing:1.5px;line-height:100%;background-color:transparent;border:1px solid #000000;padding:16px 32px;border-radius:24px">
		    Verify Email
		</a>
		<br>
  </td>
	 
    </tr></tbody></table></td></tr></tbody></table></td></tr></tbody></table><div><div class="adm"><div id="q_52" class="ajR h4" aria-label="Show trimmed content" aria-expanded="false" data-tooltip="Show trimmed content"><div class="ajT"></div></div></div></div></td>
                                              </tr>
                                              </tbody>
                                            </table>
                                          </td>
                                        </tr>
                                    </tbody>
                                  </table>
                                </td>
                              </tr>
                            </tbody></table>
                          </td>
                        </tr>
                      </tbody></table>
                    </td>
                  </tr>
                </tbody></table>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
      <tr>
        <td valign="top">
          
        </td>
      </tr>
    </tbody></table>